.gradle
/local.properties
.DS_Store
/build
/captures
app/app.iml
app/app-release.apk
YandexMoneyTest.iml
app/build
app/libs

.idea/workspace.xml
.idea/.name
.idea/gradle.xml
.idea/encodings.xml
.idea
.idea/compiler.xml
.idea/modules.xml
.idea/misc.xml
.idea/vcs.xml
.idea/libraries/appcompat_v7_21_0_0.xml